*{
    margin:0;
    padding:0;
}

h1{
    background-color: #081b31;
    height:80px;
    color:white;
    text-align: center;
    line-height:80px;
}
.images{
    display: flex;
    justify-content: center
   
}
.image{
    height:165px;
    width:165px;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    gap:10px;
    margin-top: 20px;
}
img:hover{
  border:5px solid black;
}
.COINT{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px;
    font-size:22px;
    margin-top: 50px;
}
.point{
    font-size:30px ;
}
#play{
    background-color: black;
    color: white;
    height:40px;
    line-height: 40px;
    border-radius: 10px;
    padding:5px;
    display: inline;
}
.playy{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:45px;
}